@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Test ReswPlusLib</h1>
<h2>Using ResourceManager</h2>
<ul>
    @foreach (var message in @Model.ResourceManagerStrings)
    {
        <li>
            @message
        </li>
    }
</ul>

<h2>Using IStringLocalizer</h2>
<ul>
    @foreach (var message in @Model.StringLocalizerStrings)
    {
        <li>
            @message
        </li>
    }
</ul>
<aps